<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Babet - Pet Care & Shop HTML Template - Blog Details</title>
    <meta name="author" content="Babet">
    <meta name="description" content="Babet - Pet Care & Shop HTML Template">
    <meta name="keywords" content="Babet - Pet Care & Shop HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Onest:wght@100..900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="bg-smoke2">

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->
    <div class="cursor-follower"></div>

    <!-- slider drag cursor -->
    <!-- <div class="slider-drag-cursor"> DRAG </div> -->

    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader ">
        <button class="th-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <div class="bounce">
                <img src="assets/img/logo-icon.svg" alt="img">
            </div>
            <span class="loader">
                Babet
                <span class="loading-text">Babet</span>
            </span>
        </div>
    </div>

    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper allow-natural-scroll">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/logo3.svg" alt="Babet"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Multipage</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home I (Pet Grooming)</a></li>
                                    <li><a href="home-2.html">Home II (Pet Care)</a></li>
                                    <li><a href="home-3.html">Home III (Pet Shop)</a></li>
                                    <li><a href="home-4.html">Home IV (Pet Boarding)</a></li>
                                    <li><a href="home-5.html">Home V (Dog Trainer)</a></li>
                                    <li><a href="home-6.html">Home VI (Pet Salon)</a></li>
                                    <li><a href="home-7.html">Home VII (Pet Hotel)</a></li>
                                    <li><a href="home-8.html">Home VIII (Pet Sitting)</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Onepage</a>
                                <ul class="sub-menu">
                                    <li><a href="home-1-op.html">Home I (Pet Grooming)</a></li>
                                    <li><a href="home-2-op.html">Home II (Pet Care)</a></li>
                                    <li><a href="home-3-op.html">Home III (Pet Shop)</a></li>
                                    <li><a href="home-4-op.html">Home IV (Pet Boarding)</a></li>
                                    <li><a href="home-5-op.html">Home V (Dog Trainer)</a></li>
                                    <li><a href="home-6-op.html">Home VI (Pet Salon)</a></li>
                                    <li><a href="home-7-op.html">Home VII (Pet Hotel)</a></li>
                                    <li><a href="home-8-op.html">Home VIII (Pet Sitting)</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">About Us</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Services</a>
                        <ul class="sub-menu">
                            <li><a href="service.html">Services</a></li>
                            <li><a href="service-details.html">Service Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                </ul>
                            </li>
                            <li><a href="team.html">Our Team</a></li>
                            <li><a href="team-details.html">Team Details</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="faq.html">FAQ'S Page</a></li>
                            <li><a href="error.html">Error Page</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog Standard</a></li>
                            <li><a href="blog-2.html">Blog with Sidebar</a></li>
                            <li><a href="blog-3.html">Blog without Sidebar</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="color-scheme-wrap active">
        <button class="switchIcon"><i class="fa-solid fa-palette"></i></button>
        <h3 class="color-scheme-wrap-title text-center">Color Switcher</h3>
        <div class="color-switch-btns">
            <button data-color="#FF4F38"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#3282FB"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#6D30FB"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#27AE60"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#FF7E02"><i class="fa-solid fa-droplet"></i></button>
        </div>
    </div><!--==============================
	Header Area
==============================-->
    <header class="th-header header-default">
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.svg" alt="Babet">
                                </a>
                            </div>
                        </div>
                        <div class="col-auto me-xxl-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="index.html">Home</a>
                                        <ul class="mega-menu mega-menu-content allow-natural-scroll">
                                            <li>
                                                <div class="container">
                                                    <div class="row gy-4">
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/index.jpg" alt="Home One">
                                                                    <div class="btn-wrap">
                                                                        <a href="index.html" class="th-btn">Multipage</a>
                                                                        <a href="home-1-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="index.html">Home I (Pet Grooming)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-2.jpg" alt="Home Two">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-2.html" class="th-btn">Multipage</a>
                                                                        <a href="home-2-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-2.html">Home II (Pet Care)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-3.jpg" alt="Home Three">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-3.html" class="th-btn">Multipage</a>
                                                                        <a href="home-3-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-3.html">Home III (Pet Shop)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-4.jpg" alt="Home Four">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-4.html" class="th-btn">Multipage</a>
                                                                        <a href="home-4-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-4.html">Home IV (Pet Boarding)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-5.jpg" alt="Home Five">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-5.html" class="th-btn">Multipage</a>
                                                                        <a href="home-5-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-5.html">Home V (Dog Trainer)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-6.jpg" alt="Home Six">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-6.html" class="th-btn">Multipage</a>
                                                                        <a href="home-6-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-6.html">Home VI (Pet Salon)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-7.jpg" alt="Home Seven">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-7.html" class="th-btn">Multipage</a>
                                                                        <a href="home-7-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-7.html">Home VII (Pet Hotel)</a></h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="mega-menu-box">
                                                                <div class="mega-menu-img">
                                                                    <img src="assets/img/pages/home-8.jpg" alt="Home Seven">
                                                                    <div class="btn-wrap">
                                                                        <a href="home-8.html" class="th-btn">Multipage</a>
                                                                        <a href="home-8-op.html" class="th-btn">Onepage</a>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mega-menu-title"><a href="home-8.html">Home VIII (Pet Sitting)</a></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Services</a>
                                        <ul class="sub-menu">
                                            <li><a href="service.html">Services</a></li>
                                            <li><a href="service-details.html">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Shop</a>
                                                <ul class="sub-menu">
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="testimonial.html">Testimonial</a></li>
                                            <li><a href="faq.html">FAQ'S Page</a></li>
                                            <li><a href="price.html">Price Package</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Blog Standard</a></li>
                                            <li><a href="blog-2.html">Blog with Sidebar</a></li>
                                            <li><a href="blog-3.html">Blog without Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-button d-flex d-lg-none">
                                <button type="button" class="th-menu-toggle icon-btn"><i class="far fa-bars"></i></button>
                            </div>
                        </div>
                        <div class="col-auto d-xl-block d-none">
                            <div class="header-button">
                                <div class="info-card">
                                    <div class="box-icon">
                                        <img src="assets/img/icon/phone-white.svg" alt="phon-icon">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="box-title text-white">Call us: </h4>
                                        <p class="box-text"><a class="text-white" href="tel:001203456789">+00-(120) 3456 789</a></p>
                                    </div>
                                </div>
                                <a href="contact.html" class="th-btn style-border">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper ">
        <div class="breadcumb-bg-thumb" data-overlay="title" data-opacity="5" data-bg-src="assets/img/bg/breadcumb-bg.png"></div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title text-anim" data-cue="slideInUp" data-delay="100">Blog Details</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
    Blog Area
==============================-->
    <section class="th-blog-wrapper blog-details space-top space-extra-bottom">
        <div class="container">
            <div class="th-blog blog-single" data-cue="slideInUp">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="title-area text-center">
                            <span class="sub-title subtitle-line text-anim" data-cue="slideInUp"><img class="me-2" src="assets/img/icon/subtitle-icon.svg" alt="icon">Pet Grooming</span>
                            <h2 class="sec-title text-anim2" data-cue="slideInUp">Why Regular Pet Grooming Is Essential for Your Pet’s Health and Happiness</h2>
                        </div>
                    </div>
                </div>
                <div class="blog-inner-img mb-55">
                    <img src="assets/img/blog/blog_inner_1.jpg" alt="Blog Image">
                    <div class="blog-meta">
                        <a href="blog.html"><i class="fas fa-user"></i>Jordan Park</a>
                        <a href="blog.html"><i class="fas fa-calendar"></i>24 Jun, 2025</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="blog-content">
                            <h4 class="fw-semibold mb-15">1. Grooming Prevents Skin and Coat Problems</h4>
                            <p class="mb-15 fs-18">Dirt, debris, and loose fur can build up in your pet’s coat and lead to matting, hot spots, and skin infections. Grooming removes these irritants and allows your pet’s skin to breathe.</p>
                            <p class="mb-2 fs-18">Brushing regularly also helps: </p>
                            <div class="checklist mb-50">
                                <ul>
                                    <li>Distribute natural oils throughout the coat</li>
                                    <li>Stimulate blood circulation</li>
                                    <li>Prevent painful mats, especially in long-haired breeds like Shih Tzus or Golden Retrievers</li>
                                </ul>
                            </div>
                            <h4 class="fw-semibold mb-15">2. Nail Trimming Is More Than Cosmetic</h4>
                            <p class="mb-0 fs-18">Overgrown nails can cause pain, posture problems, and even joint issues in both dogs and cats. If your pet's nails “click” on the floor, it's a sign they need a trim.. Adaptive reuse is a powerful approach to architecture that combines historical preservation with modern innovation. </p>
                            <p class="mb-30 fs-18">By embracing this practice, architects can create unique and sustainable spaces that honor the past while looking to the future.</p>
                            <div class="blog-inner-img mb-40">
                                <img src="assets/img/blog/blog_inner_2.jpg" alt="Blog Image">
                            </div>
                            <h4 class="fw-semibold mb-15">3. Ear Cleaning and Dental Hygiene Help Prevent Infections</h4>
                            <p class="fs-18 mb-2">Just like humans, pets need regular care for their ears and teeth.</p>
                            <div class="checklist mb-2">
                                <ul>
                                    <li>Dirty ears can lead to yeast or bacterial infections, especially in floppy-eared breeds like Cocker Spaniels.</li>
                                    <li>Neglected teeth can cause plaque buildup, gum disease, and bad breath.</li>
                                </ul>
                            </div>
                            <p class="fs-18">A grooming appointment is a great time to check ears and freshen up that smile!</p>
                            <blockquote class="bg-white">
                                <p>“Pet grooming isn’t just about appearances — it’s an essential part of your pet’s wellness. Regular grooming keeps your pet healthy, comfortable, and happy. Plus, it’s a great way to bond and show your love..”</p>
                                <cite>Michel Clarck</cite>
                            </blockquote>
                            <h4 class="fw-semibold mt-40 mb-15">4. Grooming Reduces Stress and Builds Trust</h4>
                            <p class="mb-20 fs-18">Repurposing existing structures is an environmentally sustainable practice, reducing the need for new construction and minimizing waste. Successfully adapting old buildings involves integrating modern amenities and technologies while respecting the building's historical integrity. This balance creates functional and aesthetically pleasing spaces.</p>
                            <p class="fs-18 mb-30">Upgrading older buildings with energy-efficient systems, such as HVAC and insulation, improves their performance and reduces their environmental impact, making them suitable for modern use.</p>
                            <div class="row gy-30 gx-30">
                                <div class="col-sm-6">
                                    <div class="blog-radius-img">
                                        <img class="w-100" src="assets/img/blog/blog_inner_3.jpg" alt="Blog Image">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="blog-radius-img">
                                        <img class="w-100" src="assets/img/blog/blog_inner_4.jpg" alt="Blog Image">
                                    </div>
                                </div>
                            </div>
                            <h4 class="fw-semibold mt-30 mb-15">5. A Freshly Groomed Pet A Happy Home</h4>
                            <p class="mb-20 fs-18">Adaptive reuse is a powerful approach to architecture that combines historical preservation with modern innovation. By embracing this practice, architects can create unique and sustainable spaces that honor the past while looking to the future.</p>
                            <p class="mb-30 fs-18">Reuse involves repurposing old buildings for new uses, preserving historical value while meeting modern needs. This post explores the benefits and challenges of adaptive reuse in architecture.</p>
                            <div class="blog-inner-img mb-40">
                                <img src="assets/img/blog/blog_inner_5.jpg" alt="Blog Image">
                            </div>
                            <p class="mb-20 fs-18">The restoration process was meticulous. I spent hours researching period-appropriate colors and materials. Sourcing vintage furniture became a delightful treasure hunt, and I often found myself lost in the charm of local flea markets. Every piece I selected felt like a conversation with the past, and each room began to tell a story.</p>
                            <p class="mb-0 fs-18">As I unveiled the completed home, the clients were overwhelmed with emotion. We had not just renovated a house; we had resurrected a piece of history, blending the old with the new in a way that honored its legacy.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="share-links clearfix ">
                        <div class="row justify-content-between">
                            <div class="col-md-auto">
                                <span class="share-links-title">Tags:</span>
                                <div class="tagcloud">
                                    <a href="blog.html">Automation</a>
                                    <a href="blog.html">Technology</a>
                                    <a href="blog.html">Digital</a>
                                </div>
                            </div>
                            <div class="col-md-auto text-xl-end">
                                <span class="share-links-title">Share:</span>
                                <div class="th-social style2 align-items-center">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div><!-- Share Links Area end -->
                        </div>
                    </div>
                    <div class="blog-navigation">
                        <div>
                            <a href="#" class="nav-btn prev">
                                <span class="thumb">
                                    <img src="assets/img/blog/blog-navigation-1-1.jpg" alt="img">
                                </span>
                                <span class="nav-text"> <span class="icon-btn"><img src="assets/img/icon/arrow-left.svg" alt="img"></span>Previous</span>
                            </a>
                        </div>
                        <a href="#" class="blog-btn">
                            <i class="fa-solid fa-grid"></i>
                        </a>
                        <div>
                            <a href="#" class="nav-btn next">
                                <span class="thumb">
                                    <img src="assets/img/blog/blog-navigation-1-2.jpg" alt="img">
                                </span>
                                <span class="nav-text"><span class="icon-btn"><img src="assets/img/icon/arrow-right.svg" alt="img"></span>Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="th-comments-wrap " data-cue="slideInUp">
                        <h2 class="blog-inner-title h4"><i class="fas fa-comments"></i> Comments (3)</h2>
                        <ul class="comment-list">
                            <li class="th-comment-item">
                                <div class="th-post-comment">
                                    <div class="comment-avater">
                                        <img src="assets/img/blog/comment-author-1.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <h3 class="name">Mariya Dsuza</h3>
                                        <span class="commented-on">25 Jun, 2025<span class="ms-2">06:30pm</span></span>
                                        <p class="text">Although expert groomers themselves, lots of cats like being brushed and it’s a great way of bonding with your cat. As well as fewer hairballs and less shedding, grooming your cats will imitate how they groom each other naturally and increase affection for you as a result.</p>
                                        <div class="reply_and_edit">
                                            <a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="th-comment-item">
                                        <div class="th-post-comment">
                                            <div class="comment-avater">
                                                <img src="assets/img/blog/comment-author-2.jpg" alt="Comment Author">
                                            </div>
                                            <div class="comment-content">
                                                <h3 class="name">Michel Phelops</h3>
                                                <span class="commented-on">15 Dec, 2025<span class="ms-2">04:30pm</span></span>
                                                <p class="text">By leveraging the power of AI, we aim to revolutionize industries and empower organizations to stay competitive in a rapidly evolving digital landscape.</p>
                                                <div class="reply_and_edit">
                                                    <a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="th-comment-item">
                                <div class="th-post-comment">
                                    <div class="comment-avater">
                                        <img src="assets/img/blog/comment-author-3.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <h3 class="name">Michel Alex</h3>
                                        <span class="commented-on">20 Dec, 2025<span class="ms-2">02:30pm</span></span>
                                        <p class="text">To be a leading AI agency recognized for creating intelligent solutions that drive meaningful change across industries, fostering smarter decision-making,</p>
                                        <div class="reply_and_edit">
                                            <a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- Comment end --> <!-- Comment Form -->
                    <div class="th-comment-form " data-cue="slideInUp">
                        <div class="form-title">
                            <h3 class="blog-inner-title h4 mb-2">Leave a Reply</h3>
                            <p class="form-text">Your email address will not be published. Required fields are marked</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Your Name" class="form-control">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Email Address" class="form-control">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="col-12 form-group">
                                <textarea placeholder="Type Your Message" class="form-control"></textarea>
                                <i class="fal fa-pencil"></i>
                            </div>
                            <div class="col-12 form-group">
                                <input id="reviewcheck" name="reviewcheck" type="checkbox">
                                <label for="reviewcheck">Save my name, email, and website in this browser for the next time I comment.<span class="checkmark"></span></label>
                            </div>
                            <div class="col-12 form-group mb-0">
                                <button class="th-btn style3 btn-md">Submit Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-default">
        <div class="shape-mockup footer-bg-shape1" data-bottom="0" data-left="0">
            <img src="assets/img/normal/footer-default-cta-thumb-3.png" alt="img">
        </div>
        <div class="shape-mockup footer-bg-shape2 shake" data-bottom="8%" data-right="4%">
            <img src="assets/img/shape/shape1.png" alt="img">
        </div>
        <div class="shape-mockup footer-bg-shape3 jump" data-bottom="35%" data-right="6%">
            <img src="assets/img/shape/shape2.png" alt="img">
        </div>
        <div class="shape-mockup footer-bg-shape4 shake" data-top="35%" data-right="3%">
            <img src="assets/img/shape/shape3.png" alt="img">
        </div>
        <div class="container">
            <div class="footer-cta-wrap" id="contact-sec">
                <div class="row gy-40 justify-content-xl-between justify-content-center align-items-center">
                    <div class="col-xl-4 col-lg-6 order-xl-1">
                        <div class="title-area mb-0">
                            <h2 class="sec-title text-anim2" data-cue="slideInLeft">Explore Our Comprehensive Petcare Solutions</h2>
                        </div>
                    </div>

                    <div class="col-xl-5 order-xl-3">
                        <div class="btn-wrap style2 justify-content-xl-end justify-content-center" data-cue="slideInRight">
                            <a class="th-btn" href="contact.html">Make Appointment <span class="th-btn-icon"></span></a>
                            <a class="th-btn style2" href="team.html">Our Specialists <span class="th-btn-icon"></span></a>
                        </div>
                    </div>
                    <div class="col-xl-auto align-self-end order-xl-2">
                        <div class="footer-cta-thumb">
                            <div class="img1" data-cue="slideInUp">
                                <img src="assets/img/normal/footer-default-cta-thumb-1.png" alt="img">
                            </div>
                            <div class="img2">
                                <img src="assets/img/normal/footer-default-cta-thumb-2.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/img/logo2.svg" alt="Babet"></a>
                                </div>
                                <p class="about-text"> Babet is a convenience services to the adaptability, We care about every pet of our clients and provide all kinds of pet care services in New York.</p>
                                <div class="info-box">
                                    <div class="box-icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <p class="box-text">
                                        <a href="mailto:infomail123@domain.com" class="box-link">infomail123@domain.com</a>
                                    </p>
                                </div>
                                <div class="info-box">
                                    <div class="box-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <p class="box-text">
                                        <a href="https://maps.google.com/" class="box-link">West 2nd lane, Inner circular road, New York City</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service.html">Services</a></li>
                                    <li><a href="blog.html">Our Groomers</a></li>
                                    <li><a href="contact.html">Book an Appointment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Resources</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="about.html">Articles & Tips</a></li>
                                    <li><a href="about.html">Preventative Care</a></li>
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="about.html">Investors Relations</a></li>
                                    <li><a href="contact.html">Term & Conditions </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Services</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="service.html">Dog & Cat Grooming</a></li>
                                    <li><a href="service.html">Bath & Brush</a></li>
                                    <li><a href="service.html">Haircuts & Styling</a></li>
                                    <li><a href="service.html">Nail Trimming</a></li>
                                    <li><a href="service.html">Ear Cleaning</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto" data-cue="slideInUp">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Support</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="contact.html">Help Center</a></li>
                                    <li><a href="faq.html">FAQs</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="about.html">Ticket Support</a></li>
                                    <li><a href="about.html">Live Chat </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap">
                <div class="row justify-content-center gy-3 align-items-center">
                    <div class="col-lg-6" data-cue="slideInUp">
                        <p class="copyright-text">
                            <i class="fal fa-copyright"></i> Copyright 2025 <a href="index.html">Babet</a>. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-lg-6 text-lg-end text-center" data-cue="slideInUp">
                        <div class="th-social">
                            <span class="text-theme">Social Media:</span>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- Cue Js -->
    <script src="assets/js/scrollCue.min.js"></script>
    <!-- Gsap -->
    <script src="assets/js/gsap.min.js"></script>
    <!-- Scroll Trigger -->
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <!-- Split Text -->
    <script src="assets/js/SplitText.min.js"></script>
    <!-- Lenis Js -->
    <script src="assets/js/lenis.min.js"></script>

    <!-- Perticle Js -->
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/particles-config.js"></script>

    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>

</html>